# ===== BACKEND =====
backend/target/
backend/*.class
backend/*.jar

# ===== FRONTEND =====
frontend/node_modules/
frontend/dist/
frontend/.env.local

# ===== INTELLIJ =====
.idea/
*.iml

# ===== VSCODE =====
.vscode/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== SEGREDOS =====
*.env
application-local.yml